<div class='clearfix'></div>
<footer id='footer' class='container'>

  <div class='row'>

    <div class='inline-list social threecol'>

      <ul>
        <li><a href='http://twitter.com/modamaternave' alt='Twitter - Moda Materna'><img src='{{ site.baseurl }}/img/icons/twitter.png' alt='Twitter Logo'></a></li>
        <li><a href='http://facebook.com/modamaternave' alt='Facebook - Moda Materna'><img src='{{ site.baseurl }}/img/icons/facebook.png' alt='Facebook Logo'></a></li>
      </ul>

    </div> <!-- end .inline-list.social.twocol -->

    <div class='contact ninecol last'>
      <p>
        C.C. Sambil Barquisimeto.<br>
                (0251) 713 7714.
      </p>
    </div> <!-- end .contact.tencol.last -->

  </div> <!-- end of .row -->

  <div id='copyright-note' class='row'>

    <div class='twelvecol last'>
      <small>© 2013, Moda Materna, C.A. RIF J-31134595-7 Todos los derechos reservados.</small>
    </div> <!-- end of .twelvecol.last -->

  </div> <!-- end of .row -->

</footer> <!-- end of #footer.container -->

<!-- Loading Google Analytics -->
<div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1022716-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>  
</div>

</body>
</html>
